$main-color: #782ADF;
$second-color: #FB5607;

$main-light-color: #F2F3F7;
$second-light-color: #FEDFD0;

$black-text-color: #000000;
$white-text-color: #FFFFFF;

$border-color: #E3E3E3;

$main-backround-color: #F2F3F7;
$second-background-color: #FFFFFF;
$third-background-color: #F1F2F6;